$body-color: rgb(116, 41, 126);

body {
  color: $body-color;
}

h2,h4{
  color:honeydew;
  font-family: monospace;
}

p{
  color: darkslategray;
}

div{
  border-radius: 5px;
}

.section{
  background-color:lightgray;
  min-width: 200px;
  min-height: 200px;
  margin: 10px;
}

.sectionHeader{
  background-color:grayscale($color: #b1b1b1);
}

#taskDashboard{
  display: flex;
}

#mainHeader{
  font-size: 40px;
  font-family: monospace;
  color: darkslategray;
}

#clockContainer{
  display: flex;
}

#clockImage{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin: 10px;
}

#calculatorEntries{
  display: flex;
}

#currentEntry{
  margin: 10px;
  width: 30%;
}

#resultEntry{
  margin: 10px;
  width: 30%;
}

#calculatorInteractionArea{
  display: flex;
}

#calculatorKeypad{
  display: -moz-grid-group;
  margin: 2px;
}

.keyButton{
   margin: 2px;
   width: 40px;
}

#clearButton{
  width: 40px;
}

#calculatorControls{
  margin: 2px;
  width: 200px;
  height: 80%;
  display: grid;
}

#calculateButton{
  height: 50px;
}